
<section class="bg-opacity-10 bg-primary pb-5 pt-5"> 
    <div class="container pb-5 pt-5">
      <div class="align-items-center gy-2 mb-4 row">
        <div class="col-md">
          <h2 class="fw-bold h2 mb-0 text-capitalize text-secondary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.25em" height="1.25em" class="mb-2 me-2 text-primary">
              <path d="M12 23a7.5 7.5 0 0 1-5.138-12.963C8.204 8.774 11.5 6.5 11 1.5c6 4 9 8 3 14 1 0 2.5 0 5-2.47.27.773.5 1.604.5 2.47A7.5 7.5 0 0 1 12 23z"/>
            </svg><span>Hot Creations</span></h2>
        </div>
        <div class="col-md-auto">
          <!--<form> 
            <div class="bg-opacity-75 bg-white border input-group overflow-hidden p-1 rounded-pill">
              <input type="text" class="bg-transparent border-0 form-control pe-3 ps-3 shadow-none" placeholder="Find your next NFT" aria-describedby="button-addon2"/>
              <button type="submit" class="bg-gradient btn btn-primary p-2 rounded-circle" aria-label="search">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1.25em" height="1.25em" class="d-block h-auto">
                  <g>
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"></path>
                  </g>
                </svg>
              </button>
            </div>
          </form>-->
        </div>
      </div>
      <div class="g-4 justify-content-center row row-cols-lg-3 row-cols-md-2"> 
        {% for c in site.collectibles %}
            {% if c.tags contains 'creation' %}

            <div> 
                <div class="bg-gradient bg-opacity-75 bg-white overflow-hidden rounded-1"> 
                <div class="position-relative">
                    <a href="{{ c.collectible_url }}"><img src="{{ c.image }}" class="card-img-top img-fluid w-100" alt="..." width="480" height="360"/></a>
                </div>
                <div class="p-3 p-sm-4 pb-4 pe-3 pe-sm-4 ps-3 ps-sm-4 pt-4">
                    <div class="align-items-center d-flex justify-content-between">
                    <div>
                        <h3 class="fw-bold h5 mb-0"><a href="{{ c.collectible_url }}" class="link-secondary text-decoration-none">{{ c.title }}</a></h3>
                    </div>
                    <div>
                    </div>
                    </div>
                    <hr/>
                    <div class="align-items-center d-flex justify-content-between">
                    <div><a class="align-items-center d-inline-flex fst-italic gap-2 small text-decoration-none" href="{{ c.creator_url }}"><img src="{{ c.creator_image }}" class="border border-3 border-secondary rounded-circle" width="36" height="36" alt="Author image"/>
                      
                      {% if c.creator %}
                      <span class="text-muted">Created by {{ c.creator_name }}</span>
                      {% else %}
                      <span class="text-muted">Owned by {{ c.creator_name }}</span>
                      {% endif %}
                  
                    
                    </a>
                    </div>
                    </div>
                </div>                 
                </div>               
            </div>
            {% endif %}            
        {% endfor %}        
      </div>           
      
      <!--<div class="mt-5 text-center"><a href="https://opensea.io/bragdotcharity" class="bg-gradient btn btn-primary pb-2 pe-4 ps-4 pt-2">View More</a></div>-->           
    </div>         
  </section>
