<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16943605271">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-16943605271');
    </script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/bootstrap_theme/bootstrap.css" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ site.baseurl }}/blocks.css"/>
    <link href="{{ site.baseurl }}/style.css" rel="stylesheet"/>   
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>
    <title>brag.charity - Digital Collectibles for Good</title>



    <style media="screen">
      body {
          background-color: #eef;
          font: normal 1em / 1.6em sans-serif;
       }
      .hub {
        animation: fadeIn 10s forwards;
      }
      @keyframes fadeIn {
          from { opacity: 0; }
            to { opacity: 1; }
      }   
      </style>
  </head>